.gl{
    filter: blur(5px);
    height: 10%;
    width: 100%;
}
.logo{
    text-align: center;
    position: absolute;
    font-size: 20px;
    top: 50px;
    left: 20%;
    color: white;
}

h1, p{
    border: 4px solid white;
    padding: 10px 50px;
    position: relative;
    border-radius: 10px;
    font-family: 'Lucida Sans';
}
/* pseudo selector */
h1:hover {
    background: -webkit-linear-gradient(pink, lightblue);
    color:rgb(25, 132, 202);
   
}

button{
    border:none;
    outline:0;
    display: inline-block;
    color: black;
    background-color: #ddd;
    cursor: pointer;
}

button:hover{
    background-color: greenyellow;
    color:white;
}