<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #container{
            display: grid;
            grid-template-columns: 100px 100px 100px 100px 100px ;
            border: 2px solid black;
          }

    </style>
</head>
<body>
    <div id="container"> 
    <div>Division - 1</div>
    <div>Division - 2</div>
    <div>Division - 3</div>
    <div>Division - 4</div>
    <div>Division - 5</div>
    
</div>
</body>
</html>